<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/java-laby</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property> <!-- create / create-drop / update -->
        <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform</property>


        <property name="hibernate.show_sql">true</property> <!-- Show SQL in console -->
        <property name="hibernate.format_sql">true</property> <!-- Show SQL formatted -->
        <property name="hibernate.use_sql_comments">false</property>

        <mapping class="lab4.Shape"/>
        <mapping class="lab4.Color"/>
        <mapping class="lab4.Rectangle"/>
        <mapping class="lab4.Triangle"/>
    </session-factory>
</hibernate-configuration>